Interfaz_RPF/server/n8n_workflows/rpf_file_ingestion.json
{
  "name": "RPF - File Ingestion (inotify)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rpf-new-file",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1be5cc64-02bc-43d6-ae19-44ccd597f40b",
      "name": "Webhook Nuevo Archivo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-656, 112],
      "webhookId": "rpf-new-file"
    },
    {
      "parameters": {
        "jsCode": "// Analizar el archivo recibido del file_watcher.sh\n// Payload esperado: { file: '/home/.../rpf-proyecto-datos/...', ts: '2026-05-26T...' }\nconst body = $input.first().json.body || $input.first().json;\n\nconst filepath = body.file || '';\nconst filename = filepath.split('/').pop();\nconst ext = filename.split('.').pop().toLowerCase();\n\n// Determinar tipo de datos por la ruta\nlet file_type = 'otro';\nif (filepath.includes('01_INFO_CNDC_RPF')) {\n  file_type = 'evento';\n} else if (filepath.includes('02_DATOS_CNDC_RPF')) {\n  file_type = 'scada';\n} else if (filepath.includes('DATOS_EXTRAIDOS')) {\n  file_type = 'mapeo';\n}\n\n// Extraer semestre/evento si aplica\nlet semestre = null;\nlet evento = null;\nconst semMatch = filepath.match(/([12][0-9]{3}) sem([12])/);\nif (semMatch) {\n  semestre = `${semMatch[1]}_sem${semMatch[2]}`;\n}\nconst evMatch = filepath.match(/Evento (\\d+)/);\nif (evMatch) {\n  evento = `Evento_${evMatch[1]}`;\n}\n\nconst esRelevante = ['xlsx', 'xls', 'csv', 'json', 'txt', 'pdf'].includes(ext);\n\nreturn [{\n  json: {\n    filepath,\n    filename,\n    ext,\n    file_type,\n    semestre,\n    evento,\n    received_at: body.ts || new Date().toISOString(),\n    es_relevante: esRelevante\n  }\n}];"
      },
      "id": "e127d4fb-737d-408f-ab20-3153fa29aa1b",
      "name": "Clasificar Archivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-448, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-relevante",
              "leftValue": "={{ $json.es_relevante }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "952ff2b1-b495-4e84-81b1-edc5dda51200",
      "name": "¿Es relevante?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-224, 112]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "rpf_file_log",
          "mode": "list",
          "cachedResultName": "rpf_file_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "filepath":    "={{ $json.filepath }}",
            "received_at": "={{ $json.received_at }}",
            "processed":   false,
            "file_type":   "={{ $json.file_type }}",
            "size_bytes":  0,
            "semestre":    "={{ $json.semestre }}",
            "evento":      "={{ $json.evento }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id",          "displayName": "id",          "required": false, "defaultMatch": true,  "display": true, "type": "number",   "canBeUsedToMatch": true, "removed": true },
            { "id": "filepath",    "displayName": "filepath",    "required": true,  "defaultMatch": false, "display": true, "type": "string",   "canBeUsedToMatch": true },
            { "id": "filename",    "displayName": "filename",    "required": false, "defaultMatch": false, "display": true, "type": "string",   "canBeUsedToMatch": true, "removed": true },
            { "id": "received_at", "displayName": "received_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true },
            { "id": "processed",   "displayName": "processed",   "required": false, "defaultMatch": false, "display": true, "type": "boolean",  "canBeUsedToMatch": true },
            { "id": "file_type",   "displayName": "file_type",   "required": false, "defaultMatch": false, "display": true, "type": "string",   "canBeUsedToMatch": true },
            { "id": "size_bytes",  "displayName": "size_bytes",  "required": false, "defaultMatch": false, "display": true, "type": "number",   "canBeUsedToMatch": true },
            { "id": "semestre",    "displayName": "semestre",    "required": false, "defaultMatch": false, "display": true, "type": "string",   "canBeUsedToMatch": true },
            { "id": "evento",      "displayName": "evento",      "required": false, "defaultMatch": false, "display": true, "type": "string",   "canBeUsedToMatch": true },
            { "id": "fecha_evento","displayName": "fecha_evento","required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true },
            { "id": "notes",       "displayName": "notes",       "required": false, "defaultMatch": false, "display": true, "type": "string",   "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e0dae37c-f8a8-4548-b9cc-eb0d55a2a014",
      "name": "PostgreSQL: Registrar Archivo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [0, 0],
      "credentials": {
        "postgres": {
          "id": "kgt3UvzOqcKrNzhH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Archivo ignorado (extensión no relevante)\nconst f = $json.filename;\nconsole.log(`[RPF] Archivo ignorado (no procesable): ${f}`);\nreturn [{ json: { skipped: true, file: f } }];"
      },
      "id": "50f40ebb-5be2-4981-89da-5702524dc8e0",
      "name": "Ignorar Archivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 224]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, file: $('Clasificar Archivo').first().json.filename, type: $('Clasificar Archivo').first().json.file_type }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "7ef655b0-682b-4625-adc9-ba5f2ad934ec",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [224, 112]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Nuevo Archivo": {
      "main": [[{ "node": "Clasificar Archivo", "type": "main", "index": 0 }]]
    },
    "Clasificar Archivo": {
      "main": [[{ "node": "¿Es relevante?", "type": "main", "index": 0 }]]
    },
    "¿Es relevante?": {
      "main": [
        [{ "node": "PostgreSQL: Registrar Archivo", "type": "main", "index": 0 }],
        [{ "node": "Ignorar Archivo", "type": "main", "index": 0 }]
      ]
    },
    "PostgreSQL: Registrar Archivo": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b659cab26ff0f6e391144d4a951f3c577d3d06eb96c914f499d777262ff894f"
  },
  "tags": [
    { "name": "RPF" },
    { "name": "Capa1" }
  ]
}
